/*--------------- Variables ---------------*/
$link-color: #333; //nav link color
$link-color-hover: orange; //nav link color when hovering over it
$active-link-color: orange; //color of the active nav link
$link-margin: 25px; //margin left and right of the nav item
$background-color: #e6e6e6; //background-color of the navbar
$breakpoint: 768px; //breakpoint for collapsing the menu
$navbar-height: 50px; //navbar-height

body {
    margin: 0;
    padding: 0;
}
/*--------------- Navbar ---------------*/
.navbar {
    width: 100%;
    height: $navbar-height;
    text-align: center;
    background: $background-color;

    ul {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }

    .navbar-item {
        position: relative;

        a {
            transition: all 0.2s;
            color: $link-color;
        }

        &:hover {
            a {
                color: $link-color-hover;
            }

            &:after {
                transition: all 0.4s;
                content: '';
                position: absolute;
                bottom: 0;
                background-color: #333;
                width: 60px;
                height: 3px;
                left: 50%;
                transform: translateX(-30px);
            }
        }
        padding: 15px 0;
        font-size: 1.8rem;
    }

    .active {
        position: relative;

        a {
            color: $active-link-color;
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            background-color: #333;
            width: 60px;
            height: 3px;
            left: 50%;
            transform: translateX(-30px);
        }
    }

    .collapse {
        display: none;
        background-color: $background-color;
        border-top: 1px solid darken($background-color, 10%);
    }
}

#menu-button {
    position: relative;
    width: 25px;
    height: $navbar-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

span {
    position: absolute;
    background-color: orange;
    width: 25px;
    height: 2px;
    transition: all 0.3s;
    border-radius: 5px;
    left: 7.5px;
}

span:first-of-type {
    top: 15px;
}

span:last-of-type {
    bottom: 15px;
}

.open span {
    top: 24px;
    left: 7.5px;
}

.open span:first-of-type {
    transform: rotate(-135deg);
}

.open span:nth-of-type(2) {
    opacity: 0;
}

.open span:last-of-type {
    transform: rotate(135deg);
}
/*--------------- Media Queries ---------------*/
@media (min-width: $breakpoint) {
    .navbar {
        text-align: right;
    }

    .navbar-item {
        display: inline-block;
        margin: 0 $link-margin;
    }

    #menu-button {
        display: none;
    }

    .navbar .collapse {
        display: block;
        border: none;
    }

    .active {
        &:after {
            width: 75%;
            transform: translateX(-47.5%);
        }
    }
}